html, body {
    height: 100%;
    width: 100%;
    /* margin: 0;
    padding: 0; */
  }
  
  /* nav bar */
  .navbar {
    background-color: #23415C;
    padding: 1% 0;
    font-size: 1.2em;
  }
  
  .navbar-brand {
    min-height: 20px;
    padding: 0 15px 5px;
  }
  
  .navbar-default .navbar-nav li a {
    color: #D5D5D5;
  }
  
  .navbar-default .navbar-nav li a:hover,  .navbar-default .navbar-nav li a:active {
    color: #FFF;
  }

  /*map */
  #map {
    height: 100%;
    position: relative;
  }

  #fullscreen-map {
    height: calc(100vh - 77.594px);
    position: relative;
  }

  #map-interface {
    z-index: 1000;
    position: absolute;
    display: block;
    top: 5rem;
    left: 50px;
    bottom: 50px;
    width: 450px;
  }

  #map-button {
    display: none;
  }

  #show-map {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: orange;
    display: none;
  }



  /* media queries  */

  @media only screen and (max-width: 992px) {

  #fullscreen-map {
    height: calc(100vh - 107.594px);

  }

    #map-interface {
      top: 30px;
      left: 0px;
      bottom: 0px;
      width: 100%;
    }
    #map-button {
      display: block;
    }

    #show-map {
      display: block;
    }
  }


  @media only screen and (min-width: 992px) {
    #map-interface {
      z-index: 1000;
      position: absolute;
      display: block;
      top: 5rem;
      left: 50px;
      bottom: 50px;
      width: 450px;
    }
  }