html, body {
    height: 100%;
    width: 100%;
  }

  /* mobile bottom nav - hidden on larger screens */
  .fixed-bottom  {
    display: none;
  }

  /*map */
  #map {
    height: 100%;
    position: relative;
  }

  #fullscreen-map {
    height: calc(100vh - 55px);
    position: relative;
  }

  /*map interface*/
  #map-interface {
    z-index: 1000;
    position: absolute;
    display: block;
    top: 90px;
    left: 50px;
    bottom: 50px;
    width: 440px;
    height: 550px;

  }

   /*tabs on homepage on large screens*/
   .nav-tabs {
    position: absolute;
    top: 3.5rem;
    left: 50px;
    height: 35px;
    width: 440px;
    background-color: white;
  }

  .nav-tabs .nav-link {
    padding: 6.25px;
    border:solid 0.5px grey;
    width: 110px;
    text-align: center;
  }

  /* routeplanner tab */
  .form-area {
    margin: 5px 0px 0px 5px;
    padding: 5px;
  }
  
  .form-group {
    margin-bottom: 3px;
  }


  label {
    margin-bottom: 3px;
  }
  
  #go {
  margin-left:10px;
  margin-top: 10px;
  }

  /* twitter feed on routeplanner tab */
  .news {
    padding-top: 10px;
    height: 480px;
    width: 100%;
  }

  /* route-plan-results*/
    #route-results {
    display: none;
  }

  #stop-to-stop-results {
    display: none;
  }

  .card.results {
    padding-left: 50px;
    margin-top: 10px;
  }

  #estimator-go {
    padding-top: 10px;
  }

* {
  box-sizing: border-box;
}

body { 
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* media queries to be kept at bottom of css file for ease of understanding */

/* media queries to make interface responsive */
  /* when the screen becomes smaller than 992px, the interface becomes full screen and the map is hidden */
  @media only screen and (max-width: 992px) {

    /* #fullscreen-map {
      height: calc(100vh - 85px);
  
    } */

    #map-wrapper {
      height: 400px;
    }
      #map-interface {
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: calc(100vh - 85px);
      }

      #map {
        height: 100%;
        /* position: relative; */
      }
  
      .nav-tabs {
        display: none;
      }
  
      /* mobile screen bottom nav */
      .fixed-bottom  {
        display: block;
        height: 70px;
        width: 100vw; 
      }
      
      .nav-item.nav-bottom {
        width: 25%;
      }
  
      .nav-link.nav-bottom {
        font-size: 0.8rem;
        /* text-align: center; */
      }
  
      a.active {
        background-color: #A9A9A9;
      }
  
      #bottom-nav-div {
        height: 70px;
        padding: 0px;
      }
  
      a.nav-item.nav-link.load-interface.nav-bottom {
        height: 70px;
        text-align: center;
      }
    
      .word {
        padding-top: 5px !important;
      }
  
  
      .bootstrap-datetimepicker-widget.dropdown-menu.bottom {
        width: 100%;
      }
  
    
    /* show map interface again when screen is stretched out */
    @media only screen and (min-width: 992px) {
      #map-interface {
        z-index: 1000;
        position: absolute;
        display: block;
        top: 90px;
        left: 50px;
        bottom: 50px;
        width: 440px;
        height: 550px;
      }
    }
  }
  