{% load static %}
<script src=" {% static 'journeyplanner/estimator.js' %}"></script>


<div class="container form-area">
    <form autocomplete="off" onsubmit="return false">
        <div class="autocomplete">
            <label for="origin">Route:</label>
            <input type="text" class="form-control col-6" id="estimator-route" placeholder="Enter route">
        </div>
        <div class="form-group">
            <label for="Sub">Sub Route:</label>
            <select class="form-control col-6" id="estimator-sub" placeholder="Sub route">
            <option value="0">Select route:</option></select>
        </div>
        <div class="form-group">
            <label for="destination">Origin Stop:</label>
            <select class="form-control col-6" id="estimator-origin" placeholder="Sub route">
            <option value="0">Select stop:</option></select>
        </div>
        <div class="form-group">
            <label for="destination">Destination Stop:</label>
            <select class="form-control col-6" id="estimator-destination" placeholder="Select stop">
            <option value="0">Select stop:</option></select>
        </div>
        <div class="form-group">
            <label for="destination">Day:</label>
            <input type="text" class="form-control col-6" id="estimator-day" placeholder="Enter date">
        </div>
        <div class="form-group">
            <label for="destination">Time:</label>
            <input type="text" class="form-control col-6" id="estimator-time" placeholder="Enter time">
        </div>
        <button type="submit" class="btn btn-primary" id="estimator-go">Go</button>

        
    
        </form>
    </div>
    