<!-- we can load our css file from the static folder -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- from the Bootstrap starter template-->
    <meta charset="utf-8">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    

      <link rel="stylesheet" type="text/css" href="{% static 'journeyplanner/main.css' %}">
    {% if title %}
        <title>Dublin Bus {{ title }}</title>
    {% else %}
        <title>Dublin Bus - {{ title }}</title>
    {% endif %}

</head>
<body>
<!--bootstrap 4 nav bar code adapted from https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-navbar.php-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Dublin Bus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">About</a>
          <a class="nav-item nav-link" href="#">Login</a>
        </div>
      </div>
    </nav>

    <!-- this block will be overridden with code in the html pages -->
         {% block content %}{% endblock %}

</body>
</html>