<!-- we can load our css file from the static folder -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- from the Bootstrap starter template-->
    <meta charset="utf-8">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <!-- jquery timepicker -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> 
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


      <link rel="stylesheet" type="text/css" href="{% static 'journeyplanner/main.css' %}">
      <script src=" {% static 'journeyplanner/layout.js' %}"></script>
    
    {% if title %}
        <title>Dublin Bus {{ title }}</title>
    {% else %}
        <title>Dublin Bus - {{ title }}</title>
    {% endif %}

</head>
<body>
<!--bootstrap 4 nav bar code adapted from https://getbootstrap.com/docs/4.0/components/navbar/-->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Dublin Bus</a>
</nav>

<!-- mobile screen bottom nav -->
<nav class="fixed-bottom navbar-light bg-light justify-content-center">
  <div class="navbar navbar-light bg-light nav-justified w-100 text-center" id="bottom-nav-div">
      <a class="nav-item nav-link load-interface nav-bottom" id="routeplanner-nav"><i class="fa fa-road fa-2x"></i><br><div class="word">Route Planner</div></a>
      <a class="nav-item nav-link load-interface nav-bottom" id="allroutes-nav"><i class="fa fa-bus fa-2x"></i><br><div class="word">stop-to-stop</div></a>
      <a class="nav-item nav-link load-interface nav-bottom" id="realtime-nav"><i class="fas fa-frog fa-2x"></i><br><div class="word">Real-Time</div></a> 
      <a class="nav-item nav-link load-interface nav-bottom" id="leap-nav"><i class="fas fa-frog fa-2x"></i><br><div class="word">Leap Card</div></a> 
      <a class="nav-item nav-link load-interface nav-bottom" id="tourist-nav"><i class="fa fa-camera-retro fa-2x"></i><br><div class="word">Tourist</div></a>
  </div>
</nav>



    <!-- this block will be overridden with code in the html pages -->
         {% block content %}{% endblock %}

</body>
</html>