<!-- we can load our css file from the static folder -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- from the Bootstrap starter template-->
    <meta charset="utf-8">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>


      <link rel="stylesheet" type="text/css" href="{% static 'journeyplanner/main.css' %}">
      
      <script src=" {% static 'journeyplanner/layout.js' %}"></script>
      
        
    {% if title %}
        <title>Dublin Bus {{ title }}</title>
    {% else %}
        <title>Dublin Bus - {{ title }}</title>
    {% endif %}

</head>
<body>
<!--bootstrap 4 nav bar code adapted from https://getbootstrap.com/docs/4.0/components/navbar/-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dublin Bus</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <div class="navbar-nav ml-auto">
      <!-- <a class="nav-item nav-link active d-none d-xl-block" href="#">Home <span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link nav-top" href="#">Login</a>
      <!-- <a class="nav-item nav-link d-lg-none load-interface" id="routeplanner-nav">Route Planner</a>
      <a class="nav-item nav-link d-lg-none load-interface" id="allroutes-nav">All Routes</a>
      <a class="nav-item nav-link d-lg-none load-interface" id="leap-nav">Leap Card</a>
      <a class="nav-item nav-link d-lg-none load-interface" id="disruptions-nav">Disruptions</a>
      <a class="nav-item nav-link d-lg-none load-interface" id="tourist-nav">Tourist Information</a> -->
  </div>
</nav>

<!-- mobile screen bottom nav -->
<nav class="fixed-bottom navbar-light bg-light justify-content-center">
  <div class="navbar navbar-light bg-light nav-justified w-100 text-center" id="bottom-nav-div">
    <!-- <div class="col-sx-offset-1 col-xs-1">
      <a class="nav-item nav-link load-interface nav-bottom" id="routeplanner-nav">
        <i class="fab fa-bootstrap"></i><br>
       <span class>Route Plan</span>
      </a>
    </div> -->
      <a class="nav-item nav-link load-interface nav-bottom" id="routeplanner-nav"><i class="fa fa-road fa-2x"></i><br><div class="word">Route Plan</div></a>
      <a class="nav-item nav-link load-interface nav-bottom" id="allroutes-nav"><i class="fa fa-bus fa-2x"></i><br><div class="word">All Stops</div></a>
      <a class="nav-item nav-link load-interface nav-bottom" id="leap-nav"><i class="fas fa-frog fa-2x"></i><br><div class="word">Leap Card</div></a> 
      <a class="nav-item nav-link load-interface nav-bottom" id="tourist-nav"><i class="fa fa-camera-retro fa-2x"></i><br><div class="word">Tourist</div></a>
      <a class="nav-item nav-link load-interface nav-bottom" id="show-map"><i class="fa fa-map fa-2x"></i><br><div class="word">Show Map</div></a>
  </div>
</nav>






    <!-- this block will be overridden with code in the html pages -->
         {% block content %}{% endblock %}

</body>
</html>