{% extends "journeyplanner/base.html" %}
{% load static %}
<!-- want the code below to override the content block in base.html -->
{% block content %}
<script src=" {% static 'journeyplanner/map.js' %}"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEfrhfrJl6kKe-Au_rmeUXq030BJsNn3o&callback=initMap">
  </script>
<div id="fullscreen-map">
  <div id="show-map"><p>Show Map</p>></div>
  <div id="map"></div>
  <div class="card" id="map-interface">

  </div>
</div>


{% endblock content %}