{% extends "journeyplanner/base.html" %}
{% load static %}
<!-- want the code below to override the content block in base.html -->
{% block content %}

 <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKIG0tau-Kvkyv3pX_H4sErJqzbe07KUU&libraries=places&callback=initMap"
        async defer>
        </script>
<script src=" {% static 'journeyplanner/initmap.js' %}"></script>
>

      

<div id="fullscreen-map">
  
  <div id="map"></div>
  <!-- map interface -->
    <!--adapted from https://getbootstrap.com/docs/4.0/components/navs/-->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active load-interface" id="routeplanner-tab" data-toggle="tab" role="tab" aria-controls="route-planner" aria-selected="true">Route Plan</a>
        <a class="nav-item nav-link load-interface" id="allroutes-tab" data-toggle="tab" role="tab" aria-controls="all-routes" aria-selected="false">All Routes</a>
        <a class="nav-item nav-link load-interface" id="leap-tab" data-toggle="tab" role="tab" aria-controls="leap-card" aria-selected="false">Leap Card</a>
        <a class="nav-item nav-link load-interface" id="tourist-tab" data-toggle="tab" role="tab" aria-controls="tourist-attractions" aria-selected="false">Tourist</a>
      </div>
    </nav>
  <div class="card" id="map-interface">
  
    <div id="map-interface-content">interface content</div>

<!-- 
  </div>
  <div id="show-map"><p>Show Map</p></div>
</div> -->




{% endblock content %}