{% load static %}
 
<script src=" {% static 'journeyplanner/leapcard.js' %}"></script>

<h4 class="tab-title">Leap Card</h4>
<!-- leapcard login form -->
<div class="container form-area" id="leap-login-container">
    <form autocomplete="off" onsubmit="return false">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" class="input-box form-control" id="leap-user" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="input-box form-control" id="leap-password" placeholder="********">
        </div>
        <small id="leap-account-needed" class="form-text text-muted">Cards must be registered on www.leapcard.ie to use this service</small>
        <button type="submit" name="leap-login" class="btn btn-warning" id="leap-login-button">Login</button>
        <!-- <button type="submit" name="leap-login-with-save" class="btn btn-secondary">Save Login</button> -->
    </form>
</div>

<!-- leapcard overview-->
<div class="container leap-result" id="leap-overview-container">
    <table class="table" id="my-leap-cards">
        <tr>
            <th scope="col">My Leap Cards</th>
        </tr>
    </table>
    <button type="button" id="leap-logout" class="btn btn-primary">Logout</button>
</div>

<!-- leapcard detailed info-->
<div class="container leap-result" id="leap-detailed-container">

    <div class="card results">

        <div class="row results">
            <div class="col-4">
                <p id="card-name">My Leap Card</p>
            </div>
            <div class="col-8">
                <p id="card-balance">€20.25</p>
            </div>
        </div>

        <div class="row from">
            <div class="col-4">
                <p>Number:</p>
            </div>
            <div class="col-8">
                <p id="card-number">1234 5678 9012</p>
            </div>
        </div>

        <div class="row from">
            <div class="col-4">
                <p>Card Type: </p>
            </div>
            <div class="col-8">
                <p id="card-type">Student</p>
            </div>
        </div>

        <div class="row from">
            <div class="col-4">
                <p>Expiry: </p>
            </div>
            <div class="col-8">
                <p id="card-expiry">20/12/2021</p>
            </div>
        </div>

    </div>
    <table class="table leap-result" id="my-leap-card-details">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Service</th>
            <th scope="col">Amount</th>
        </tr>
    </table>
</div>