
{% load static %}
<script src=" {% static 'journeyplanner/routeplanner.js' %}"></script>




<!-- want the code below to override the content block in base.html -->
<!-- input boxes for user to enter origin and destination locations -->
<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

<div class="container form-area">
<form onsubmit="return false">
    <div class="form-group">
        <label for="origin">From:</label>
        <input type="text" class="form-control col-6" id="origin" placeholder="Enter origin">
    </div>
    <div class="form-group">
        <label for="destination">To:</label>
        <input type="text" class="form-control col-6" id="destination" placeholder="Enter destination">
    </div>
    <!-- date time picker https://tempusdominus.github.io/bootstrap-4/Usage/ -->
    <label for="date-time">Date and Time:</label>
    <div class="container datetimepicker">
        <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="go">Go</button>
        </div>
    </div>
    

    </form>
    <div class="container news">
        <p>dublin bus twitter feed and disruption alerts here</p>
    </div>
</div>

<div class="container" id="route-results">
    <div class="card results">
        <div class="row results">
            <p>Summary results shown here</p>
        </div>
        <div class="row results">
        <button type="submit" class="btn btn-primary" id="edit-journey">Edit journey details</button>
        </div>
    </div>
    <div class="card results">
        <div class="row" id="text"></div>
    </div>
</div>