
{% load static %}
<script src=" {% static 'journeyplanner/routeplanner.js' %}"></script>



<!-- want the code below to override the content block in base.html -->
<!-- input boxes for user to enter origin and destination locations -->
<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

<div class="container form-area">
    <form onsubmit="return false">
        <div class="form-group">
            <label for="origin">From:</label>
            <input type="text" class="input-box form-control col-6" id="origin" placeholder="Enter origin">
        </div>
        <div class="form-group">
            <label for="destination">To:</label>
            <input type="text" class="input-box form-control col-6" id="destination" placeholder="Enter destination">
        </div>
        <div>
            <div class="mobile-dt">
                <label for="datetime-4">Date and Time:</label>
                <div class="row">
                    <input class="datetime" type="datetime-local" data-clear-btn="true" name="datetime-4" id="datetime-tab1" value="">
                </div>
            </div>
            <div class="desktop-dt">
                <div class="row datetime">
                    <label class="dt-label">Date and Time:</label>
                    <input type="text" id="datepicker-tab1">
                </div>
                <div class="row datetime">
                    <!-- <label>Time:</label> -->
                    <input type="text"class="timepicker" id="timepicker-tab1">
                </div>
            </div>
            <button type="submit" class="go-button btn btn-warning btn-lg" id="go">Go</button>
        </div>
    </form>
    <div class="container news">
        <p>dublin bus twitter feed and disruption alerts here</p>
    </div>
</div>

<div class="container" id="route-results">
    <div class="card results">
        <div class="row results">
        </div>
        <div class="row from">
            <div class="col-6">
                <p>From:</p>
            </div>
            <div class="col-6">
                <p id="origin-tab1"></p>
            </div>
        </div>
        <div class="row to">
            <div class="col-6">
                <p>To:</p>
            </div>
            <div class="col-6">
                <p id="destination-tab1"></p>
            </div>
        </div>
        <div class="row on">
            <div class="col-6">
                <p>On:</p>
            </div>
            <div class="col-6">
                <p><input type="text" id="datepicker-tab1-results-date"></p>
            </div>
        </div>
        <div class="row at">
            <div class="col-6">
                <p>At:</p>
            </div>
            <div class="col-6">
                <p><input type="text" id="datepicker-tab1-results-time"></p>
            </div>
        </div>
        <div class="row">
        <button type="submit" class="btn btn-warning p-1 edit-journey">Edit journey details</button>
        </div>
    </div>
    <div class="card results">
            <div id="overall-time">
                <div class="row">
                    <p id="journey-time">12:50 - 13:10</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-8" id="overall-duration">
                        <p>Total duration:    <span id="duration-val">20 mins</span></p>
                    </div>
                </div>
    </div>
    <div class="card results">
        <div class="row">
            <ul id="direction">
            </ul>
        </div>
    </div>


        
       

</div>