{% load static %}
<script src=" {% static 'journeyplanner/touristmap.js' %}"></script>

<!-- checkboxes -->
<h4 class="tab-title">Tourist Map</h4>
<div class="card mr-4" id="checkbox-card">
    <h5>Select to view attractions on map</h5>
    <ul class="list-group list-group-flush"
        style="width: 90%;margin: auto;margin-bottom: 13px; margin-top:-15px; height:0;">
        <li class="list-group-item" style="height: 0px; padding:4px; "></li>
    </ul>
    <div id="checkboxes">
        <div class="form-check flex">
            <input type="checkbox" class="tourist-check form-check-input" id="coffee-shops" data-type="cafe">
            <label class="form-check-label" for="coffee-shops">Food and Coffee</label>
            <div class="spinner-border spinner-border-sm text-success" id="cafe-spin" role="status"></div>
        </div>
        <div class="form-check flex">
            <input type="checkbox" class="tourist-check form-check-input" id="museums" data-type="museum">
            <label class="form-check-label" for="museums">Museums</label>
            <div class="spinner-border spinner-border-sm text-success" id="museum-spin" role="status"></div>
        </div>
        <div class="form-check flex">
            <input type="checkbox" class="tourist-check form-check-input" id="art-galleries" data-type="art_gallery">
            <label class="form-check-label" for="art-galleries">Art Galleries</label>
            <div class="spinner-border spinner-border-sm text-success" id="art_gallery-spin" role="status"></div>
        </div>
        <div class="form-check flex">
            <input type="checkbox" class="tourist-check form-check-input" id="parks" data-type="park">
            <label class="form-check-label" for="parks">Parks</label>
            <div class="spinner-border spinner-border-sm text-success" id="park-spin" role="status"></div>
        </div>
        <div class="form-check flex">
            <input type="checkbox" class="tourist-check form-check-input" id="other-attractions"
                data-type="tourist_attraction">
            <label class="form-check-label" for="other-attractions">Other Attractions</label>
            <div class="spinner-border spinner-border-sm text-success" id="tourist_attraction-spin" role="status"></div>
        </div>
    </div>
</div>

<!-- input boxes for origin, destination, date and time -->
<div class="container form-area">
    <form onsubmit="return false">
        <p></p>
        <div class="form-group">
            <label for="origin">From:</label>
            <input type="text" required="required" class="col-6 form-control input-box" id="origin-tourist"
                placeholder="Enter origin">
            <div class="row">
                <button type="submit" class="col-4 btn btn-link align-top geolocation-option"
                    id="geolocation-tourist">Use my location</button>
                <div class="spinner-border spinner-border-sm text-success geo-spinner" role="status"></div>
                <button type="button" class="btn btn-default align-top question" data-toggle="tooltip"
                    data-placement="top"
                    title="You can choose to use your current location in order to make the directions more helpful for you. Your location will not be stored or sent elsewhere.">
                    <span class="fa fa-question-circle"></span>
                </button>
            </div>

        </div>
        <!-- error if geolocation doesn't work -->
        <div class="alert alert-danger geo-error" role="alert">
            There was an error finding your current location. Please enter the origin location.
        </div>

        <!-- form -->
        <div class="form-group">
            <label for="destination">To:</label>
            <p class="instruction">(Click a marker on the map)</p>
            <input type="text" class="form-control col-6 input-box" id="destination-tourist"
                placeholder="Enter destination">
        </div>
        <div>
            <!-- mobile datetime -->
            <div class="mobile-dt form-group">
                <label for="datetime-4">Date and Time:</label>
                   <input class="datetime datetime input-box form-control" type="datetime-local" data-clear-btn="true"
                    name="datetime-4" id="datetime-tourist" value="">
            </div>
            <!-- desktop datetime -->
            <div class="desktop-dt form-group">
                <div class="row datetime">
                    <label>Date and Time:</label>
                    <input class="input-box form-control" type="text" id="datepicker-tourist">
                </div>
                <div class="row datetime form-group">
                    <input class="input-box form-control" type="text" class="timepicker" id="timepicker-tourist">
                </div>
            </div>

            <!-- error if geolocation doesn't work -->
            <div class="alert alert-warning" id="tourist-destination-error" role="alert">
                Please select a destination on the map.
            </div>

            <!-- error message if invalid locations entered -->
            <div class="alert alert-danger invalid-location-error" role="alert">
                We could not find directions for this journey.
            </div>

            <button type="submit" class="go-button btn btn-warning btn-lg" id="go-tourist">Go</button>
        </div>
        <div class="mobile-space"></div>
    </form>
</div>


<!-- results view -->
<div class="container" id="route-results-tourist">
    <div class="row">
        <button type="submit" class="btn btn-warning p-1 edit-journey btn-sm">Back</button>
    </div>
    <div class="card results tab-card" id="tourist-summary-results">
        <div class="row results">
        </div>
        <div class="row summary-results from">
            <div class="col-4">
                <p>From:</p>
            </div>
            <div class="col-8">
                <p id="origin-tourist-summary"></p>
            </div>
        </div>
        <div class="row summary-results to">
            <div class="col-4">
                <p>To:</p>
            </div>
            <div class="col-8">
                <p id="destination-tourist-summary"></p>
            </div>
        </div>
        <!-- desktop date and time -->
        <div class="row summary-results-dt desktop-dt">
            <div class="col-4">
                <p>On:</p>
            </div>
            <div class="col-8">
                <p class="datetime-results-tourist"></p>
            </div>
        </div>


        <!-- mobile date and time -->
        <div class="mobile-dt">
            <div class="row">
                <div class="col-4">
                    <p>On:</p>
                </div>
                <div class="col-8">
                    <p class="datetime-results-tourist"></p>
                </div>
            </div>
        </div>

    </div>


    <!-- error if no directions available (happens for dates too far in future) -->
    <div class="alert alert-danger no-directions-error" role="alert">
        There are no directions available available for the date entered. Please try a date in the more foreseeable future.
    </div>



    <!-- fare -->
    <div id="accordion-fare-tourist" class="fare-accordion tab-card">
        <div class="card">
            <div class="card-header" id="headingOne">
                <ul id="total-fares-tourist" class="upper-fare-content"></ul>
                <div class="fare-total-message">Some fares on this journey could not be calculated</div>
                <h5 class="mb-0 fare-button">

                    <button class="btn btn-outline-primary btn-sm text-left" data-toggle="collapse"
                        data-target="#collapse-tourist" aria-expanded="true" aria-controls="collapse-tourist">
                        Fare details
                    </button>
                </h5>
            </div>

            <div id="collapse-tourist" class="collapse" aria-labelledby="headingOne"
                data-parent="#accordion-fare-tourist">
                <div class="card-body">
                    <ul id="fare-result-tourist" class="fare-result-detailed"></ul>
                </div>
            </div>
        </div>

    </div>

    <!-- spinner to show while user waits for result-->
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-warning prediction-spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- overall time -->
    <div class="card results results-card tab-card">
        <div id="overall-time">
            <div class="row">
                <p id="journey-time"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-8" id="overall-duration">
                <p>Total duration: <span id="duration-val-tourist"></span></p>
            </div>
        </div>
    </div>



    <!-- estimate and directions -->
    <div class="card results results-card tab-card">
        <div class="row">
            <ul id="direction-tourist"></ul>
        </div>
    </div>
    <div class="mobile-space"></div>
</div>