{% load static %}
<script src=" {% static 'journeyplanner/touristmap.js' %}"></script>
<div id="checkboxes">
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="restaurant" data-type="restaurant">
        <label class="form-check-label" for="exampleCheck1">Restaurants</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="coffee-shops" data-type="cafe">
        <label class="form-check-label" for="exampleCheck1">Coffee Shops</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="pubs" data-type="bar">
        <label class="form-check-label" for="exampleCheck1">Pubs</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="museums" data-type="museum">
        <label class="form-check-label" for="exampleCheck1">Museums</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="art-galleries" data-type="art_gallery">
        <label class="form-check-label" for="exampleCheck1">Art Galleries</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="parks" data-type="park">
        <label class="form-check-label" for="exampleCheck1">Parks</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="tourist-check form-check-input" id="other-attractions" data-type="tourist_attraction">
        <label class="form-check-label" for="exampleCheck1">Other attractions</label>
    </div>
</div>
<!-- input boxes for origin, destination, date and time -->
  <div class="container form-area">
    <form onsubmit="return false">
        <div class="form-group">
            <label for="origin">From:</label>
            <div class="row">
                <input type="text" class=" col-8 form-control" id="origin-tourist" placeholder="Enter origin">
                <button type="submit" class=" col-4 btn btn-secondary" id="geolocation-tourist">My current location</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalCenter">
                    <span class="fa fa-question-circle" id="question"></span>
                  </button>



                                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>


                <p id="geo-error">There was an error finding your current location. Please enter the origin location.</p>
            </div>  
        </div>
        <div class="form-group">
            <label for="destination">To:</label>
            <input type="text" class="form-control col-6" id="destination-tourist" placeholder="Enter destination">
        </div>
        <div>
            <div class="mobile-dt">
                <label for="datetime-4">Date and Time:</label>
                <div class="row">
                    <input class="datetime" type="datetime-local" data-clear-btn="true" name="datetime-4" id="datetime-tourist" value="">
                </div>
            </div>
            <div class="desktop-dt">
                <div class="row datetime">
                    <label>Date:</label>
                    <input type="text" id="datepicker-tourist">
                </div>
                <div class="row datetime">
                    <label>Time:</label>
                    <input type="text"class="timepicker" id="timepicker-tourist">
                </div>
            </div>
                <div>
                    <button type="submit" class="btn btn-warning" id="go-tourist">Go</button>
                </div>

        </div>
    </form>
</div>


<!-- results view -->
<div class="container" id="route-results-tourist">
    <div class="card results">
        <div class="row results">
        </div>
        <div class="row from">
            <div class="col-6">
                <p>From:</p>
            </div>
            <div class="col-6">
                <p id="origin-tab1"></p>
            </div>
        </div>
        <div class="row to">
            <div class="col-6">
                <p>To:</p>
            </div>
            <div class="col-6">
                <p id="destination-tab1"></p>
            </div>
        </div>
        <div class="row on desktop-dt">
            <div class="col-4">
                <p>On:</p>
            </div>
            <div class="col-8">
                <p><input type="text" id="datepicker-tourist-results-date"></p>
            </div>
        </div>
        <div class="row at desktop-dt">
            <div class="col-4">
                <p>At:</p>
            </div>
            <div class="col-8">
                <p><input type="text" id="datepicker-tourist-results-time"></p>
            </div>
        </div>

<!-- mobile date and time -->
<div class="mobile-dt">
    <div class="row">
        <div class="col-4">
            <label for="datetime-4">On:</label>
        </div>
        <div class="col-8 results-dt-mob">
                <input class="datetime" type="datetime-local" name="datetime-4" id="datetime-tourist-results">
        </div>
    </div>
</div>









        <div class="row">
        <button type="submit" class="btn btn-warning p-1 edit-journey">Edit journey details</button>
        </div>
    </div>
    <div class="card results">
            <div id="overall-time">
                <div class="row">
                    <p id="journey-time">12:50 - 13:10</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-8" id="overall-duration">
                        <p>Total duration:    <span id="duration-val-tourist">20 mins</span></p>
                    </div>
                </div>
    </div>
    <div class="card results">
        <div class="row">
            <ul id="direction-tourist">
            </ul>
        </div>
    </div>


        
       

</div>