Package         Version  
--------------- ---------
asgiref         3.2.10   
beautifulsoup4  4.9.1    
bs4             0.0.1    
certifi         2020.6.20
chardet         3.0.4    
Django          3.1      
gunicorn        20.0.4   
idna            2.10     
joblib          0.16.0   
numpy           1.19.1   
pandas          1.1.0    
pg8000          1.16.5   
pip             19.0.3   
psycopg2-binary 2.8.5    
pyleapcard      0.1.8    
python-dateutil 2.8.1    
python-dotenv   0.14.0   
pytz            2020.1   
requests        2.24.0   
scikit-learn    0.23.2   
scipy           1.5.2    
scramp          1.2.0    
setuptools      40.8.0   
six             1.15.0   
soupsieve       2.0.1    
sqlparse        0.3.1    
threadpoolctl   2.1.0    
urllib3         1.25.10  
vincenty        0.1.4    
